@{
    ViewBag.Title = "Cours";
}

<h2>Inscription aux cours et ajout des résultats</h2>
<hr />

<p>Dans cette page vous pourrez remplir les cours que vous avez <b>cette</b> année ainsi que les résultats s'y rapportant.</p>
<p>C'est parmi cette sélection de cours que vous pourrez choisir le tutorat que vous avez besoin.</p>

<p style="color:red"> A vérifier : tutorat possible uniquement pour les cours de l'année en cours?</p>
<h3> ViewBag list : </h3>


<h3> ViewBag list : </h3> 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Cours</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>cours_id</th>
                            <th>code</th>
                            <th>libelle</th>
                            <th>section</th>
                            <th>annee</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in ViewBag.list)
                        {
                            <tr>
                                <td>@person.cours_id</td>
                                <td>@person.code</td>
                                <td>@person.libelle</td>
                                <td>@person.section</td>
                                <td>@person.annee</td>
                                <td>@person.  </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />


<h2>PartialCours</h2>


<h4> Test dropdown </h4>

<script>
    var selectOpt = $('.dropdown');
    function remove(element) {
        var amountEntries = $('.dropdown').size() + $('.dropdownclone').size();
        if (amountEntries <= 1) {
            return;
        }
        if (amountEntries === 2) {
            $('.deleteButton').hide();
        }
        $(element).closest(".dropdown, .dropdownclone").fadeOut('blind', function () {
            if ($(this).is(".dropdown")) {
                $(".dropdownclone:first").toggleClass("dropdown dropdownclone");
            }
            $(this).remove();
        });
    }
    function addNew() {
        var dropdownclone, inputCote, amountEntries = $('.dropdown').size() + $('.dropdownclone').size();


        dropdownclone = $('.dropdown').clone();

        //test
        var dropdown = $('.dropdown');
        var $dropdownSelects = dropdown.find('select');

        //Forcer le reset sur le clone de l'input
        var $inputCote = dropdownclone.find('input').val("");
        dropdownclone.attr("class", 'dropdownclone');
        dropdownclone.hide().appendTo(".clonecontainer").fadeIn(1000);
    }

    // Quand on appuye sur le bouton, lancer la fonction ci dessous

</script>



@using (Ajax.BeginForm("Cours", "Eperso", new AjaxOptions()
{
    //HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "dane"

}))
{
        <div class="dropdown ">
            <div class="form-group">
                @Html.DropDownList("DDCours")
                @Html.TextBox("coteCours", "", new { @type = "number", @min = "0", @max = "20", @required = "required"})
                <span style="cursor:pointer; color:green;" onclick="addNew();">ADD</span>
                <span style="cursor:pointer; color:red;" class="delete" onclick="remove(this)">REMOVE</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clonecontainer"></div>
        <p> Je certifie que mes informations sont correctes : </p>
        <input type="submit" value="Soumettre"/>

<div id="dane">
    <p>Content</p>
</div>
}
