@model Tutorat.Models.etudiant
    <!-- Page finie. -->

@{
    ViewBag.Title = "Informations de l'étudiant connecté";
}

<h2>@ViewBag.Title</h2>
<p> Cette page fournie les informations avec lesquelles l'étudiant s'est inscrit. La page sera utilisée en cas de test grandeur réel.</p>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

    </dl>
</div>
<!-- TO DELETE -->
<hr />
<div>
    <h2> Valeurs de la variable session : </h2>

    <p> Ces valeurs sont assignées à la connexion de l'utilisateur</p>
    @foreach (string i in Session.Contents)
    {
        <p>
            La variable "@i" a pour valeur @Session[i].ToString().
        </p>
    }
</div>
