@model Tutorat.Models.RegisterViewModel
@{
    ViewBag.Title = "Création de compte";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

        <!-- AJOUT POUR PRENOM -->
        <div class="form-group">
            @Html.LabelFor(m => m.Prenom, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control" })
                <p style="color:red"> @Html.ValidationMessageFor(m => m.Prenom)</p>
            </div>
        </div>
        <!-- AJOUT POUR NAME -->
        <div class="form-group">
            @Html.LabelFor(m => m.Nom, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
                <p style="color:red"> @Html.ValidationMessageFor(m => m.Nom)</p>
            </div>
        </div>

        <!-- AJOUT POUR MATRICULE -->
        <div class="form-group">
            @Html.LabelFor(m => m.Matricule, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Matricule, new { @class = "form-control" })
                <p style="color:red"> @Html.ValidationMessageFor(m => m.Matricule)</p>
            </div>
        </div>

        <!--AJOUT POUR ANNEE ACTUELLE -->
        <div class="form-group">
            @Html.LabelFor(m => m.Annee, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButtonFor(m => m.Annee, 1, new { @class = "form-control" }) 1
                    </label>
                    <label class="btn btn-primary">
                        @Html.RadioButtonFor(m => m.Annee, 2, new { @class = "form-control" }) 2
                    </label>
                    <label class="btn btn-primary">
                        @Html.RadioButtonFor(m => m.Annee, 3, new { @class = "form-control" }) 3
                    </label>
                </div>
                <p style="color:red"> @Html.ValidationMessageFor(m => m.Annee)</p>
            </div>
        </div>

        <!-- AJOUT POUR  SECTION (LLN & Woluwe Only)  -->
    <div class="form-group">
        @Html.LabelFor(m => m.Section, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Section, "DR", new { @class = "form-control" }) Droit
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Section, "CO", new { @class = "form-control" }) Comptabilité
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Section, "MA", new { @class = "form-control" }) Marketing
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Section, "CE", new { @class = "form-control" }) Commerce Extérieur
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Section, "TI", new { @class = "form-control" }) Technologie de l'informatique
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Section, "EB", new { @class = "form-control" }) E-Business
            </label>
            <p style="color:red"> @Html.ValidationMessageFor(m => m.Section)</p>
        </div>
    </div>

        <!-- AJOUT POUR GROUPE -->
    <div class="form-group">
        @Html.LabelFor(m => m.Groupe, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.Groupe, 'A', new { @class = "form-control" }) A
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.Groupe, 'B', new { @class = "form-control" }) B
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.Groupe, 'C', new { @class = "form-control" }) C
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.Groupe, 'D', new { @class = "form-control" }) D
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.Groupe, 'E', new { @class = "form-control" }) E
                </label>
            </div>
            <p style="color:red"> @Html.ValidationMessageFor(m => m.Groupe)</p>
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <p style="color:red"> @Html.ValidationMessageFor(m => m.Email)</p>
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <p style="color:red"> @Html.ValidationMessageFor(m => m.Password)</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <p style="color:red"> @Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
            </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Enregistrer" />
            </div>
        </div>
}
