@model IEnumerable<Tutorat.Models.tutorat>

@{
    ViewBag.Title = "TutoratFini";
}

<h2>Les tutorats finis</h2>
<p> La colonne demandeur comprend : le matricule, le nom et le prénom</p>
<p> La colonne tuteur comprend : le matricule, le nom et le prénom</p>
<p> Pour ajouter un commentaire ou une date de résignation, il suffit d'éditer la ligne concernée. Le commentaire n'est visible que pour Madame Alen et est limité à 255 caractères.</p>

<br />
<p> Cette liste de tutorat reprend les tutorats ayant atteint leur temps maximum de 600 min (10 heures) approuvé par Madame Alen.</p>
<p> Ceux-ci sont considérés terminé. Pour pouvoir ajouter du temps, il faut éditer le tutorat et entrer la valeur souhaitée dans la ligne "temps total".</p>


<table class="table">
    <tr>
        <th>
            Demandeur 
        </th>
        <th>
            Tuteur
        </th>
        <th>
            Libellé du cours
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateResign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempsTotal)
        </th>
        <th></th>
    </tr>
@{var i = 0;}
@foreach (var item in Model) {
    <tr>
        <td>
            @ViewBag.InfoSupp[i].matricule_demandeur - @ViewBag.InfoSupp[i].nom_demandeur @ViewBag.InfoSupp[i].prenom_demandeur
        </td>
        <td>
            @ViewBag.InfoSupp[i].matricule_tuteur - @ViewBag.InfoSupp[i].nom_tuteur @ViewBag.InfoSupp[i].prenom_tuteur
        </td>
        <td>
            @ViewBag.InfoSupp[i].cours_libelle
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateResign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempsTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.tutorat_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.tutorat_id })
        </td>
    </tr>
    i++;
}

</table>
