@model Tutorat.Models.listeDemandeTmp

@{
    ViewBag.Title = "Demande de Tutorat";
}

<h2> Demande de Tutorat :</h2>

<p> Sur cette page vous allez pouvoir remplir votre demande de tutorat pour l'année en cours</p>

<p> <b> Copier / Coller du formulaire : (Modification à venir)</b></p>

<h3> Cap vers la réussite en 1ère bac à l’<b> EPHEC</b> </h3>

<p> Après la mise en relation avec ton tuteur, les coordonnées de celui-ci te seront envoyées sur ton adresse eperso. 
    <b style="text-decoration:underline">Vérifie régulièrement tes mails</b></p>

<p> Je vais <b>régulièrement</b> aux cours mais je rencontre certaines difficultés dans les matières suivantes.
    Je souhaiterais pouvoir bénéficier de l'aide d'un tuteur dans les matières suivantes : </p>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Demande de tutorat pour les cours suivant (PP pas de S ?) :</h1>
            </div>
            <!-- BEGIN FORM : -->
            @using (Ajax.BeginForm("Demande", "Tutorat",
                new AjaxOptions { LoadingElementId = "loader"}))
            {
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>ID - Libelle du cours</th>
                            <th>Code</th>
                            <th>Annee</th>
                            <th>Commentaire (facultatif)</th>
                            <th>Matricule d'un tuteur (facultatif)</th>
                            <th>Demande de tutorat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var person in ViewBag.listCoursDemande)
                        {
                            <tr>
                                <td>@Html.HiddenFor(m => m.Items[i].cours_id, new { @Text = @person.libelle, @Value = @person.cours_id }) @person.cours_id - @person.libelle </td>
                                <td>@person.code</td>
                                <td>@person.annee</td>
                                <td>@Html.TextAreaFor(m => m.Items[i].commentaire, new { maxlength = "500", placeholder = "Max 500 caractères, soyez bref!", rows = "7", cols = "50" })</td>
                                <td>@Html.TextBoxFor(m => m.Items[i].matriculeTuteurPref, new { maxlength = "8"})</td>
                                <td>@Html.CheckBoxFor(m => m.Items[i].select)</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            
            <input type="submit" value="Soumettre" onclick="alert('Votre demande a correctement été enregistrée');" />
    }
        </div>
    </div>
</div>