@model Tutorat.Models.tutorat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tutorat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.demandeur_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demandeur_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cours_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cours_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateResign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateResign)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tutorat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
