@model IEnumerable<Tutorat.Models.tutorat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.demandeur_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cours_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateResign)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.demandeur_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cours_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateResign)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tutorat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tutorat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tutorat_id })
        </td>
    </tr>
}

</table>
