@model Tutorat.Models.demandeurCours
@{ 
    ViewBag.Title = "Test";
}

@section Scripts {
<script>
    $(document).ready(function () {
        $("#CoursEnvoie").prop("disabled", true);
        $("#Annees").change(function () {
            if ($("#Annees").val() != "Select") {
                var CountryOptions = {};
                CountryOptions.url = "/Tutorat/EnvoieLibelles";
                CountryOptions.type = "POST";
                CountryOptions.data = JSON.stringify({ a: $("#Annees").val() });
                CountryOptions.datatype = "json";
                CountryOptions.contentType = "application/json";
                CountryOptions.success = function (CoursList) {
                    $("#CoursEnvoie").empty();
                    for (var i = 0; i < CoursList.length; i++) {
                        $("#CoursEnvoie").append("<option>" + CoursList[i] + "</option>");
                    }
                    $("#CoursEnvoie").prop("disabled", false);
                };
                CountryOptions.error = function () { alert("Error in Getting Cours!!"); };
                $.ajax(CountryOptions);
            }
            else {
                $("#CoursEnvoie").empty();
                $("#CoursEnvoie").prop("disabled", true);
            }
        });
    });
</script>
}

<h4> Dropdown Test from Website :</h4>

<!-- TEST 3 : show second dropdown on click depending on first dropdown
    http://stackoverflow.com/questions/32405077/show-second-dropdown-options-based-on-first-dropdown-selection-jquery

    -->

@using (Html.BeginForm("Save", "Tutorat", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Select Années </h4>
    <hr />
    @Html.ValidationSummary()
    <div id="dropdownClone">
        <div class="form-group">
            @Html.Label("Select Année:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Annees", ViewData["Anneess"] as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Select Cours:", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="CoursEnvoie" class="form-control"></select>
            </div>
        </div>
        <hr />
    </div>
    <p>
        <input type="button" id="btnclone" class="btn btn-default" value="Clone Dropdown">
    </p>


    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
} 

